table {
  width: 100%;
  min-width: 90vh;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  padding-bottom: 10px;
}

.mat-hint {
  font-size: 11pt;
}

th {
  background-color: lightgray;
  font-weight: 800;
}
